/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.loading_screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 180px;
  width: 180px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.square-item {
  position: absolute;
  height: 35px;
  width: 35px;
  border: 3px solid #ff1d5e;
  margin: 0 auto;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.square-item:nth-child(1) {
  animation-name: load-one;
  animation-delay: 0.5s;
}
.square-item:nth-child(2) {
  animation-name: load-two;
  animation-delay: 0s;
  border: 3px solid #77b005;
}
.square-item:nth-child(3) {
  animation-name: load-three;
  animation-delay: 0.5s;
  border: 3px solid #0329e5;
}
.square-item:nth-child(4) {
  animation-name: load-four;
  animation-delay: 0s;
  border: 3px solid #fff;
}

@keyframes load-one {
  50% {
    transform: translate(150%, 150%) scale(2);
  }
}
@keyframes load-two {
  50% {
    transform: translate(-150%, 150%) scale(2);
  }
}
@keyframes load-three {
  50% {
    transform: translate(-150%, -150%) scale(2);
  }
}
@keyframes load-four {
  50% {
    transform: translate(150%, -150%) scale(2);
  }
}
