* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
.heading__todo {
  justify-content: center;
  width: 1000px;
  margin: 90px auto 10px;
  padding: 20px 0;
  text-align: center;
  background-color: aquamarine;
  color: rgb(255, 81, 0);
}

.todo__main {
  width: 1000px;
  margin: auto;
  padding: ;
  background: rgba(255, 192, 203, 0.495);
}
.todo__container {
  width: 95%;
  /* background-color: rgb(0, 187, 255); */
  margin: auto;
  padding: 10px 0;
  /* justify-content: center; */
}
.todo__input {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.305);
  /* margin: 5px 0; */
}
.todo__input form {
  width: 85%;
}
.todo__input .btn {
  padding: 5px 20px;
  font-size: 20px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.305);
  background-color: aqua;
  width: 15%;
}
.todo__input .input__text {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border: none;
}

.todo__list{
    margin: 10px 0 0;
    padding: 10px 10px;
    background-color: beige;
}

.todo__list .todo__item {
  display: flex;
  justify-content: space-between;
  margin: 0px 2px;
  padding: 10px 0;
  position: relative;
}
.todo__list .todo__item::after{
    content: "";
    /* display: block; */
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.325);
}

.todo__list .btnStyle{
padding: 5px 10px;
}